.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: var(--mobile-section-gap);
}

.swiper {
  width: 100%;
}

.swiper .slide {
  width: fit-content;
}

.card {
  height: 471px;
}

@media screen and (min-width: 992px) {
  .wrapper {
    gap: var(--desctop-section-gap);
  }
}

@media screen and (min-width: 1280px) {
  .cards {
    display: flex;
    gap: 24px;
  }

  .card {
    width: 100%;
  }
}
