.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--mobile-section-gap);
}

.swiper {
  position: relative;
  width: 100%;
}

.slide {
  position: relative;
  box-shadow: 0px 20px 30px -10px #05353d;
  max-width: 323px;
  height: 456px;
}

.card {
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top center;
}

@media screen and (min-width: 480px) {
  .slide {
    width: 60%;
  }
}

@media screen and (min-width: 662px) {
  .slide {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .wrapper {
    gap: var(--desctop-section-gap);
  }
}
