.card {
  --mobile-width: 304px;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  border: 1px solid var(--secondary-color);
  border-radius: 12px;
  padding: 8px;
  transition: background 0.2s;

  width: var(--mobile-width);
}

.card:hover {
  background: var(--secondary-color);
}

.box {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  padding-top: 0px;
}

.title {
  width: 100%;
  background: var(--secondary-color);
  padding: 32px 24px;
  border-radius: 12px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.optionsTitle,
.subTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
}

.subTitle {
  text-align: center;
  max-width: 240px;
  margin-top: auto;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.option {
  display: flex;
  gap: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.option svg {
  margin-top: 4px;
  height: 16px;
  width: 16px;
  flex-shrink: 0;
}

@media screen and (min-width: 992px) {
}
