.wrapper {
  position: relative;
}

.container,
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo,
.button {
  flex-shrink: 0;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100dvh);
  width: 100%;
  background: var(--gradient);
  z-index: 10;
}

.top {
  padding: 46px 26px 26px 26px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  flex-grow: 1;
}

.links .link {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
}

.bottom {
  display: flex;
  justify-content: center;
  padding: 46px 0px;
  border-top: 1px solid var(--turquoise-color);
}
