.wrapper,
.container {
  display: flex;
  flex-direction: column;
  gap: var(--mobile-section-gap);
}

.description {
  display: none;
}

@media screen and (min-width: 992px) {
  .wrapper {
    flex-direction: row;
    gap: 166px;
  }

  .button {
    align-self: end;
    flex-shrink: 0;
  }

  .titleWrapper {
    align-items: start;
  }

  .title {
    text-align: start;
  }

  .description {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }
}
