@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* COLORS */
  --primary-color: #ffffff;
  --secondary-text: #e1e4ed;
  --gray-text: #71747c;
  --background-color: #000000;
  --dark-color: #0b0c0f;
  --accent-color: #17a2b8;
  --secondary-color: #085764;
  --turquoise-color: #20d5ec;
  --gradient-text: linear-gradient(90deg, #20d5ec 0%, #fe2c55 100%);
  --gradient: linear-gradient(180deg, #085764 0%, #000000 100%);
  --bordered-button-backgound: #20d5ec0a;

  /* MOBILE METRICS */
  --mobile-section-padding-x: 24px;
  --mobile-section-gap: 48px;
  --mobile-root-sections-gap: 96px;

  /* DESCTOP METRICS */
  --desctop-section-max-width: 1280px;
  --desctop-section-padding-x: 64px;
  --desctop-section-gap: 80px;
  --desctop-root-sections-gap: 160px;
}

html {
  scroll-behavior: smooth;
}

/*  */
/* RESET STYLES */
/*  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type='submit'] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}
/*  */
/*  */
/*  */
